.callout {
    border-style: unset;
    border-inline-start: var(--callout-border-width) solid rgba(var(--callout-color), var(--callout-border-opacity));
    border-radius: var(--callout-radius);
    padding: var(--callout-padding);
}