/* Modals ----------------------- */

.mod-dim .modal-bg {
    opacity: 1 !important;
    //backdrop-filter: blur(2px);
    //animation: blur-in 0.15s ease-out;
    animation: dark-cover 1.15 ease-out;
    background-color: oklch(.2 0 0 / .9);
    background-image: var(--background-img-modal);
}

.modal-button-container {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    button {
        width: 100%;
    }
}
// Modal button position and size
*:not(.mod-rtl) .modal-button-container {
    flex-direction: row-reverse;
}
// Community items browser
.modal-sidebar {
    background-color: var(--background-menu);
}

.community-modal-search-results-wrapper {
    border-top: var(--border-width) solid var(--background-menu-separator);
    box-shadow: inset 0 4px 4px -4px oklch(0 0 0 / 30%);
}

.community-modal-details {
    border-inline-start: var(--border-width) solid var(--background-menu-separator);
}

.modal-setting-nav-bar {
    border-bottom: var(--border-width) solid var(--background-menu-separator);
}

.community-modal-info {
	box-shadow: inset 0 4px 4px -4px oklch(0 0 0 / 30%);
}