// small px
$px-2: 2px;
$px-2-2: 4px;
$px-2-3: 6px;
$px-2-4: 8px;
$px-2-5: 10px;
$px-2-6: 12px;
$px-2-8: 16px;
$px-8-4: 32px;
$px-8-6: 48px;
$px-8-8: 64px;
// radii
$rad-1: 4px;
$rad-2: 8px;
$rad-3: 12px;
$rad-4: 16px;