/* Tab stuff ----------------------------------------------------------------------- */
.workspace-tab-header.is-active::before, 
.workspace-tab-header.is-active::after {
	display: none; /* <-- remove interior corners */
}

.workspace-tab-header {
  padding: 0;
}

.workspace .mod-root {
  .workspace-tab-header {
    padding: 0;
    // tab-active-highlight
    transition: border-top .15s;
    border-top: 0px solid var(--background-modifier-border-focus); 
  }
  
  .workspace-tab-header.is-active {
    box-shadow: 0 1px 0 0 var(--background-secondary);
    background-color: var(--tab-background-active);

    // tab-active-highlight
    &:not(.mod-active) {
      border-top: 4px solid var(--text-faint);
    }

    &.mod-active {
      border-top: 4px solid var(--background-modifier-border-focus);
    }
  }

  .workspace-tab-header-container-inner {
    gap: 4px;
    margin: 4px 0 0px;
    padding: 0 0 1px 0;
  }
}

.titlebar .workspace-tab-header-tab-list, 
.titlebar .workspace-tab-header-new-tab, 
.mod-root .workspace-tab-header-tab-list, 
.mod-root .workspace-tab-header-new-tab {
  align-items: stretch;
}

.workspace-tab-header-new-tab {
  margin-inline-start: 4px;
  padding: 4px 0 1px;
}

.workspace-tab-header-tab-list {
  padding: 4px 0 1px;
}

.workspace-tab-header-tab-list .clickable-icon, 
.workspace-tab-header-new-tab .clickable-icon {
  padding: var(--size-4-2);
}

/* hide tab separator */
.workspace .mod-root .workspace-tab-header-inner::after {
  display: none;
}

.workspace .mod-root .workspace-tab-header-inner-title {
  text-overflow: ellipsis;
  width: 100%;
}

/* display tab close button on inactive tabs */
.workspace .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header:not(.is-active) .workspace-tab-header-inner-close-button {
  display: flex;
  &:hover { // highlight tab close button on inactive tabs on :hover
    background-color: var(--background-modifier-hover);
  }
}

/* Tabs mod-left-right-split */
.mod-left-split .workspace-tab-header-container-inner, 
.mod-right-split .workspace-tab-header-container-inner {
    padding: 0px 0 6px;
    margin: 4px 0 0 0;
    gap: 0;
}

.mod-left-split .workspace-tab-header,
.mod-right-split .workspace-tab-header {
  background-color: var(--color-base-35);
  border-radius: 0;
  border-left: 1px solid var(--background-secondary);
  /* ## active highlight */
  &.is-active,
  &.is-active {
    box-shadow: inset 0 1px 0 0 var(--text-faint);
  }
}

.mod-left-split .workspace-tab-header.tappable,
.mod-right-split .workspace-tab-header.tappable {
  &:only-of-type {
    border-radius: 4px !important;
  }

  &:first-of-type {
    border-radius: 4px 0 0 4px;
    border-left: 0;
  }

  &:last-of-type {
    border-radius: 0 4px 4px 0; 
  }
}

.mod-left-split .workspace-tab-header-inner,
.mod-right-split .workspace-tab-header-inner {
  border-radius: inherit;
  .is-active {
    padding-top: 1px;
  }
}

/* Moar padding */
.workspace-tab-header-status-icon, 
.workspace-tab-header-inner-close-button {
  padding: 4px;
}