/* Tag stuff ---------------------------------------------------------- */
/* Tag in editor */
.cm-hashtag {
    box-shadow: inset 0 1px var(--tag-border-color), 
    0 1px var(--tag-background);
}

/* Tag as property */
.multi-select-pill {
    padding: calc(var(--pill-padding-y) + 1px) 0 var(--pill-padding-y);
    line-height: 1.01;
}

.metadata-property[data-property-key="tags"] .multi-select-pill {
    box-shadow: inset 0 1px var(--pill-border-color);
}