@use "buttons";
@use "callouts";
@use "editor";
@use "graph-view";  
@use "menus";
@use "modals";
@use "settings";
@use "status-bar";
@use "tables";
@use "tabs";
@use "tags";
@use "theme_dark";
@use "theme_light";

/* END @use ---------------------------------------------------------------------------------------------------------- */

body {
  /* Animation */
  --anim-standard-spatial: cubic-bezier(0.27, 1.06, 0.18, 1);
  --anim-expressive-fast-spatial: cubic-bezier(0.42, 1.67, 0.21, 0.90);
  --anim-expressive-default-spatial: cubic-bezier(0.38, 1.21, 0.22, 1.00);
  /* Backgrounds */
  --background-modifier-message: var(--background-primary-alt);
  /* Callouts */
  --callout-border-width: 4px;
  --callout-border-opacity: 0.25;
  --callout-padding: var(--size-4-3) var(--size-4-3) var(--size-4-3) 20px;
  --callout-radius: var(--radius-s);
  /* Canvas */
  --canvas-dot-pattern: var(--color-base-50);
  /* Card */
  --card-border: 1px solid var(--card-border-color);
  /* Codeblock */
  --code-comment: var(--text-muted);
  /* Dropdowns */
  --dropdown-background-blend-mode: luminosity;
  /* Dividers between panes */
  --divider-color: transparent;
  /* Embeds */
  --embed-background: var(--background-primary-alt);
  --embed-border-start: 4px solid var(--color-base-40);
  --embed-border-radius: var(--radius-s);
  --embed-padding: var(--size-4-4);
  /* Graphs */
  --graph-line:  var(--color-base-50, var(--background-modifier-border-focus));
  /* Headings */
  --inline-title-size: calc( var(--h1-size)* 1.5);
  --inline-title-weight: 300;
  --inline-title-color: var(--color-base-70);
  /* Inputs */
  //--input-height: 30px;
  /* Links */
  --link-color: var(--text-accent);
  --link-color-hover: var(--text-accent);
  --link-decoration: none;
  --link-decoration-hover: underline;
  --link-decoration-thickness: auto;
  --link-external-color-hover: var(--text-accent);
  --link-external-decoration: none;
  --link-external-decoration-hover: underline;
  --link-external-filter: none;
  --link-unresolved-color: var(--text-accent);
  --link-unresolved-opacity: 0.7;
  --link-unresolved-filter: none;
  --link-unresolved-decoration-style: solid;
  --link-unresolved-decoration-color: hsla(var(--interactive-accent-hsl), 0.3);
  /* Menus */
  --menu-padding: 4px;
  --menu-backdrop-filter: blur(32px);
  /* Modals */
  --modal-border-color: var(--color-base-35);
  --background-img-modal: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  /* Prompts - e.g. quick switcher, command palette */
  --prompt-border-color: var(--modal-border-color);
  /* Ribbon */
  --ribbon-background: initial;
  --ribbon-background-collapsed: initial;
  --ribbon-padding: var(--size-4-2) var(--size-4-1) var(--size-4-3);
  /* Tabs */
  --tab-background-active: var(--background-modal-navigation);
  --tab-container-background: var(--background-secondary-alt);
  --tab-radius-active: var(--radius-s);
  /* Toggles */
  --toggle-thumb-color: var(--color-base-70);
  --check-mark: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="rgb(80 80 80)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check"><path d="M20 6 9 17l-5-5"/></svg>');
  --check-mark-small: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 24 24" fill="none" stroke="rgb(80 80 80)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check"><path d="M20 6 9 17l-5-5"/></svg>');
  /* View Header */
  --header-height: 44px;
  --menu-delete-warning-hover: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle-alert-icon lucide-triangle-alert"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"/><path d="M12 9v4"/><path d="M12 17h.01"/></svg>');
  /* Window frame */
  --titlebar-background: var(--background-secondary-alt);
}

body {
  background-color: var(--background-secondary-alt);
}

/* Animation stuff ----------------------------------------------------------------- */
@keyframes slide-in {
  from {
    scale: 90% 100%;
    opacity: 50%;
  }
  to {
    translate: 0 0;
    scale: 100%;
  }
} 

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes blur-in {
  from {
    backdrop-filter: blur(1px);
  }
  to {
    backdrop-filter: blur(2px);
  }
}

/* Cards ------------------------------------------------------------------------------------------ */
/* Header separator */

.view-header {
  padding: 0 8px;

  .view-actions {
    gap: 1px; // fix overlap
  }
}

// 1/2 Deemphasise redundant file title ... 
.workspace-leaf-content:not([data-type="empty"]) .view-header-title-parent[spellcheck="false"], 
.workspace-leaf-content:not([data-type="empty"]) .view-header-title[spellcheck="false"] {
  color: var(--text-muted) !important;
}

.is-focused .workspace-leaf.mod-active .view-header-title[spellcheck="false"] {
  color: var(--text-muted);
}
// 2/2 ... except while focused
.is-focused .workspace-leaf.mod-active .view-header-title[spellcheck="true"] {
  color: var(--text-normal);
}

/* Workspace card appearance ---------------------------------------------------------------------- */
.workspace-tabs .workspace-leaf {
  background-color: initial;
  border-radius: 0 0 8px 8px;
}

.workspace-split.mod-horizontal.mod-sidedock.mod-left-split .workspace-leaf {
  border-radius: 0 0 8px 8px;
}

.workspace-tab-header-container-inner {
  margin: 2px -5px calc(var(--tab-outline-width) * -1);
}

.mod-root .workspace-tab-container {
    border: var(--card-border);
    border-radius: 0 0 var(--radius-m) var(--radius-m);
    border-top: 0;
}

/* Vault profile ---------------------------------------------------------------------------------- */
body:not(.is-mobile) .workspace-split.mod-sidedock.mod-left-split .workspace-sidedock-vault-profile {
  //border-radius: 8px;
  margin-top: 2px;
  background-color: initial;
  padding: 4px;
  
  .workspace-drawer-vault-switcher {
    height: 34px; 
  }
}

// Workspace Tabs --------------------------------------------------------------------------------- */
.workspace-tab-container {
  display: flex;
  overflow: hidden;
}

.workspace-tab-header-container {
  background-color: var(--background-secondary);
  border-radius: 8px 8px 4px 4px;
}

.mod-root .workspace-tab-header-container {
  background-color: var(--background-primary);
  border: var(--card-border);
  border-bottom: 0;
  border-radius: 8px 8px 0px 0px;
}

/* Tooltip styling --------------------------------------------- */
.tooltip {
  color: var(--text-max-contrast);
  font-weight: var(--font-normal);
}

.tooltip-arrow {
  display: none;
}

/* Workspace padding ----------------------------------------------- */
.workspace {
  padding-bottom: 4px;
  padding-right: 4px;

  &:not(.is-right-sidedock-open) {
    padding-right: 4px;
  }
}

.workspace-tab-header-container {
  margin-top: 4px;
}

// add padding-left if Ribbon is absent
.workspace-window {
  padding-left: 4px;
}

.workspace-split {
  &.mod-root {
    background-color: var(--background-secondary)
  }

  &.mod-left-split {
    padding: 0;
  }

  &.mod-right-split {
    padding: 0px 3px 0px 0px;
  }

  &.mod-vertical {
    gap: 4px;
    background-color: var(--background-secondary);
  }
}

/* Popover --------------------------------------------------- */
.popover,
.suggestion-container {
  background-color: rgba(var(--color-base-25-rgb), 0.9);
  backdrop-filter: blur(20px);
  mix-blend-mode: luminosity;
  box-shadow: var(--shadow-s);
}

/* Ribbon ------------------------------------------------------- */
.workspace-ribbon {
  &.mod-left {
    margin-right: 1px;
  }
}

.side-dock-settings, 
.side-dock-actions {
    gap: 4px;
}

.workspace-ribbon .sidebar-toggle-button {
  background-color: var(--ribbon-background);
  margin-top: 4px;
}

/* Newtab ----------------------------------------------------------------------------------------- */
/* Hide newtab title */
.workspace-leaf-content[data-type="empty"] .view-header-title-container {
  opacity: 0;
}

// Style newtab actions as buttons
.empty-state-action-list {
  font-size: var(--font-text-size);
  line-height: var(--line-height-normal);
  color: var(--text-muted);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: nowrap;
}

.empty-state-action {
  cursor: var(--cursor);
  line-height: 56px;
  color: var(--text-accent);
  background-color: var(--background-primary-alt);
  border-radius: 8px;
  box-shadow: 0 1px 0 var(--background-secondary);
  color: var(--text-normal);
  padding: 0 32px;
  transition: all .15s;

  &.tappable:hover {
    background-color: var(--empty-state-action-hover);
    color: var(--text-normal);
    box-shadow: 0 1px 3px var(--background-secondary);
  }

  &.tappable:active {
    background-color: transparent;
    color: var(--text-normal);
    box-shadow: var(--input-shadow-active);
  }

  &.tappable.mod-close, 
  &.tappable.mod-close:hover{
    color: var(--text-error);
  }

  &.tappable.mod-close:active {
    box-shadow: var(--input-shadow-active-warning);
  }
}

/* Header bar draggability fix */
.workspace::after {
    position: absolute;
    content: "";
    top: 0;
    right: 132px; // keep window buttons free
    width: 100%;
    height: 4px;
    -webkit-app-region: drag;
}